body{
    display: flex;
    flex-direction: column;
   /* background-color: #AFCAD5;*/
   padding: 0;
   margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    margin:auto;
    background-color: #AFCAD5;
    height:400px;
    margin-top: 80px;
    width: 600px;
    border-radius:50px;
    align-content: center;
}

.banner {

    background-color: #AFCAD5;
}

h1 {
    color:#ffff;
   font-family: "Faustina", Sans-serif;
   text-align: center;
   font-size:50px;
}

h2 {
    color:#576166;
   font-family: "Faustina", Sans-serif;
   font-size: 40px;
  
}

#container h2 {
text-align: center;
}

h3 {
    color:#576166;
    font-family: "Faustina", Sans-serif;
    margin-bottom: 10px;
    
}

a {
    color:#576166;
   font-family: "Faustina", Sans-serif;
   text-decoration: none;
   background: #fff;
   width: 20px;
   border: 2px solid #576166;
   border-radius:50px;
   padding: 10px;
   margin-top:10px;
}
a:hover {
    background: #576166;
    border: 2px solid #fff;
    color:#fff;
}
.decisive {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.double {
    margin-top:40px;
   
}
.true {
    margin-top:60px;
}