body{
    display: flex;
    flex-direction: column;
    background-color: #AFCAD5;
}

/*#container {
    display: flex;
    flex-direction: column;
    margin:auto;
    background-color: #fff;
    height:400px;
    margin-top: 80px;
    width: 600px;
    border-radius:50px;
}
*/
h1 {
   color:#576166;
   font-family: "Faustina", Sans-serif;
   text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
    color: #576166;
    font-family: "Faustina", Sans-serif;
    padding: 30px;
    border-radius:50px;
}

input {
    border: 1px solid #AFCAD5;
    border-radius: 50px;
}

.form-check > div{
    margin-top:80px;
}

button {
    background-color: #576166;
    color: #fff;
    border-radius:50px;
    height:30px;
    width:200px;
   margin: auto;
   margin-top: 20px;
   cursor: pointer;
   border: 1px solid #AFCAD5;
}

button:hover {
    background-color: #AFCAD5;
    color: #576166;
}

img {
    width: 200px;
    border: 2px solid #576166;
    margin-top: 10px;
    margin-bottom: 10px;
}