body{
    display: flex;
    flex-direction: column;
   /* background-color: #AFCAD5;*/
   padding: 0;
   margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    margin:auto;
  /*  background-color: #AFCAD5; */
    height:400px;
    margin-top: 80px;
  
    border-radius:50px;
    align-content: center;
}

.banner {
background-image:url(../img/capaaaa.png);
    background-color: #AFCAD5;
    height: 300px;
    width: 100%;
background-size: cover;
background-position: 0px -220px;

}

h1 {
    color:#ffff;
   font-family: "Faustina", Sans-serif;
   text-align: center;
   font-size:70px;
  margin-top: 100px;
  text-shadow: 1px 1px 2px black;
}

h2 {
    color:#576166;
   font-family: "Faustina", Sans-serif;
   font-size: 40px;
   width: 70%;
}
h2 span {
    color:#AFCAD5;
}
h3 span {
    color:#AFCAD5;
    text-align: center;
}
#container h2 {
text-align: center;
}

h3 {
    color:#576166;
    font-family: "Faustina", Sans-serif;
    margin-bottom: 10px;
    width: 70%;
}

a {
    color:#576166;
   font-family: "Faustina", Sans-serif;
   text-decoration: none;
   background: #fff;
   width: 20px;
   border: 2px solid #576166;
   border-radius:50px;
   padding: 10px;
   margin-top:10px;
}
a:hover {
    background: #576166;
    border: 2px solid #fff;
    color:#fff;
}

.envio {
  color: #576166;
    font-family: "Faustina", Sans-serif;
    text-decoration: none;
    background: #fff;
    width: 80px;
    border: 2px solid #576166;
    border-radius: 50px;
    padding: 9px;
    text-align: center;
    margin-top: -200px;
}

.envio:hover {
    background: #576166;
    border: 2px solid #fff;
    color:#fff;
}

.decisive {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.double {
    margin-top:20px;
   
}
.true {
    margin-top:60px;
}

.decisive img {
    width:180px;
}

.lateral {
    align-items: center;
    align-content: center;
    align-self: center;
    margin: auto;
    justify-content: center;
    grid-template-rows: 188px 174px 254px;
    display: grid;
    grid-template-columns: repeat(4, 195px);
}

@media (max-width: 888px) {
    .true {
        display: flex;
        flex-direction: column;
    }
    a {
        color:#576166;
       font-family: "Faustina", Sans-serif;
       text-decoration: none;
       background: #fff;
       width: 200px;
       border: 2px solid #576166;
       border-radius:50px;
       padding: 10px;
       margin-top:10px;
       text-align: center;
    }
    .double {
        display: flex;
        flex-direction: column;
        margin-bottom: -60px;
    }
    .banner {
        background-position: 0px 00px;
    }
    h1 {
        font-size:50px;
    }
    .lateral {
        align-items: center;
        align-content: center;
        align-self: center;
        margin: auto;
        justify-content: center;
        grid-template-rows: 188px 174px 254px;
        display: grid;
        grid-template-columns: repeat(2, 195px);
        cursor: pointer;
    }
    .envio {
    margin-top: 0px;
}
}
@media (max-width: 398px) { 
    
    .lateral {
        align-items: center;
        align-content: center;
        align-self: center;
        margin: auto;
        justify-content: center;
        grid-template-rows: 188px 174px 254px;
        display: grid;
        grid-template-columns: repeat(1, 195px);
    }
}